<div class="grid grid-cols-2 grid-rows-2 gap-6">
  <div >


    <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto">
      <div class="mb-4">
        <label for="matricula" class="block text-gray-700">Matrícula</label>
        <input id="matricula" formControlName="matricula" class="rounded-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-800 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" type="text">
      </div>
      <div class="mb-4">
        <label for="nombre" class="block text-gray-700">Nombre</label>
        <input id="nombre" formControlName="nombre" class="rounded-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 ark:text-gray-800 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" type="text">
      </div>
      <div class="mb-4">
        <label for="correo" class="block text-gray-700">Correo</label>
        <input id="correo" formControlName="correo" class="rounded-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 ark:text-gray-800 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" type="email">
      </div>
      <div class="mb-4">
        <label for="edad" class="block text-gray-700">Edad</label>
        <input id="edad" formControlName="edad" class="rounded-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 ark:text-gray-800 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" type="number">
      </div>
      <div class="mb-4">
        <label for="horas" class="block text-gray-700">Horas trabajadas</label>
        <input id="horas" formControlName="horas" class="rounded-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 ark:text-gray-800 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" type="number">
      </div>
      <button type="submit" class="bg-gray-500 text-white px-4 py-2 rounded">Registrar</button>
      <button (click)="imprimirEmpleados()" class="bg-blue-500 text-white px-4 py-2 rounded">Imprimir</button>
    </form>
  </div>




  <div >
    <table class="min-w-full mt-1">
      <thead class="text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-200 dark:text-gray-800">
        <tr>
          <th class="px-4 py-2">Matrícula</th>
          <th class="px-1 py-2">Nombre</th>
          <th class="px-1 py-2">Correo</th>
          <th class="px-1 py-2">Edad</th>
          <th class="px-1 py-2">Horas trabajadas</th>
          <th class="px-1 py-2">Horas normales</th>
          <th class="px-1 py-2">Horas extras</th>
          <th class="px-1 py-2">Pago total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td class="border px-1 py-2">{{ empleado.matricula }}</td>
          <td class="border px-1 py-2">{{ empleado.nombre }}</td>
          <td class="border px-1 py-2">{{ empleado.correo }}</td>
          <td class="border px-1 py-2">{{ empleado.edad }}</td>
          <td class="border px-1 py-2">{{ empleado.horas }}</td>
          <td class="border px-1 py-2">{{ calcularPagoNormal(empleado.horas) }}</td>
          <td class="border px-1 py-2">{{ calcularPagoExtra(empleado.horas) }}</td>
          <td class="border px-1 py-2">{{ calcularPagoTotal(empleado.horas) }}</td>
        </tr>
        <tr>
          <td colspan="7" class="border px-4 py-2 text-right font-bold">Total a Pagar</td>
          <td class="border px-4 py-2 font-bold">{{ calcularTotalPagar() }}</td>
        </tr>
      </tbody>
    </table>



    <div class="min-w-full mt-1 py-3">
      
      <button (click)="buscarEmpleado()" class="bg-blue-500 text-white px-4 py-2 rounded ml-2">Buscar</button>
      <button (click)="modificarEmpleado()" class="bg-yellow-500 text-white px-4 py-2 rounded ml-2">Modificar Empleado</button>
      <button (click)="eliminarEmpleado()" class="bg-red-500 text-white px-4 py-2 rounded ml-2">Eliminar Empleado</button>
    </div>
    
  
  </div>
</div>